@(message: String)

@main {

  <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
    <md-list>

        <!-- List item #1 -->
      <md-item >
        <md-button>
          <md-icon md-svg-src="@routes.Assets.at("svg/avatar-1.svg")" class="avatar"></md-icon>
          Lia Luogo
        </md-button>
      </md-item>

        <!-- List item #2 -->
      <md-item >
        <md-button>
          <md-icon md-svg-src="@routes.Assets.at("svg/avatar-4.svg")" class="avatar"></md-icon>
          Lawrence Ray
        </md-button>
      </md-item>

    </md-list>
  </md-sidenav>

  <md-content flex id="content">
      <!-- User details sample -->

    <md-icon md-svg-src="@routes.Assets.at("svg/avatar-1.svg")" class="avatar"></md-icon>
    <h2>Lia Luogo</h2>
    <p>
      I love cheese...
    </p>
  </md-content>

  <section layout="row" layout-sm="column" layout-align="center center">
    <md-button>{{title1}}</md-button>
    <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
    <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
    <md-button class="md-warn">{{title4}}</md-button>
    <div class="label">Flat</div>
  </section>

}
